*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
}
.container--title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 4rem;
    background-color: rgba(234, 47, 47, 0.394);

}

.container--card {
    display: flex;
    flex-grow: 1;
}