
.cards {
    flex: 1;
    border: 1px solid;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.title {
    font-size: 3rem;
}

.img {
    height: 15rem;
    width: fit-content;
}